version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 30
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 30
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 30
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 30
